* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}

.Daejeon-video-box video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.goto-mainpage {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation: goto-mainpage-motion 0.3s linear 0s infinite alternate; margin-top: 0;
}

.goto-mainpage p {
    color: #000;
    padding: 5px 10px;
    font-family: 'Pretendard-Medium';
}

.goto-mainpage:hover {
    background-color: #1e67b6;
    border: none;
}

.goto-mainpage:hover p {
    color: #fff;
}

@keyframes goto-mainpage-motion {
    0% {
      top: 50px;
    }
    100% {
      top: 55px;
    }
  }


  .GesifanJunche-text {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 100px;
}


.GesifanJunche-text-line {
    width: 1.5px;
    height: 200px;
    background-color: #919191;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.GesifanJunche-text-cricle {
    width: 10px;
    height: 10px;
    background-color: #363636;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: -4.5px;
    animation: GesifanJunche-cricle 3s;
    animation-iteration-count: infinite;
}

@keyframes GesifanJunche-cricle {
    from {
        top: 170px
    }
    to {
        top: 10px
    }
}

.GesifanJunche-text-inner {
    width: 600px;
    animation: typing 4s steps(25), blink .5s step-end infinite alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 30px;
    text-align: center;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.GesifanJunche-text p {
    margin-top: 10px;
    font-size: 25px;
}


.about-freeboard {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.about-freeboard-left {
    text-align: right;
    padding-right: 50px;
    width: 300px;
}

.about-freeboard-left h3 {
    width: 100%;
    margin-bottom: 100px;
    font-size: 40px;
}

.about-freeboard:hover .freeboard-hightright {
    background-color: rgb(250, 250, 149);
    font-weight: 700;
}

.about-freeboard-right p {
    margin-bottom: 15px;
    font-size: 20px;
}

.lg-only {
    display: block;
}

.md-only,
.sm-only {
    display: none;
}

.freeboard-hightright {
    padding: 5px;
    transition: all 500ms ease-in-out;
}

.about-freeboard-button {
    width: 200px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
}

.about-freeboard button {
    background-color: transparent;
    border: 1px solid #363636;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-size: 16px;
    padding: 10px;
}

.about-freeboard button:hover {
    background-color: #363636;
    color: #fff;
}


.freeboard-main-line {
    width: 1px;
    height: 200px;
    background-color: #777777;
    transform: rotate(45deg);
    margin: 0 auto;
}

.freeboard-main-circle {
    width: 10px;
    height: 10px;
    background-color: #ffe600;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 5px;
    animation: freeboard-circle 3s;
    animation-iteration-count: infinite;
}

@keyframes freeboard-circle {
    from {
        top: 10px;
    }
    to {
        top: 170px;
    }
}

.freeboard-main-wrapper {
    width: 70%;
    margin: 0 auto;
}

.freeboard-main-top {
    margin-top: 100px;
    text-align: center;
}

.freeboard-main-top h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.freeboard-main-top p {
    font-size: 20px;
}

.freeboard-main-top-sub {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.freeboard-main-all-text {
    float: right;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #a0a0a0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.freeboard-main-all-text:hover {
    background-color: #ececec;
}


.freeborad-today {
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
}

.today-border {
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 20px;
}


.gesifan-box11 {
    width: 1000px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}


.gesifan-box11-icon img {
    width: 20px;
    position: absolute;
    right: 0;
    top: 50px;
}

.gesifan-box12 {
    width: 300px;
    height: 180px;
    background-color: #f5f5f5;
    border-radius: 15px;
    transition: all 300ms ease-in-out;
    cursor: pointer;;
}

.gesifan-box12:hover{
    margin-top: -8px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 20px #bdbdbd;
}


.gesifan-box12 img {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.gesifan-box12-inner {
    padding: 20px;
}

.gesifan-span {
    width: 100px;
    padding: 5px 8px;
    background: #dbefff;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.gesifan-box12-inner p:last-child {
    margin-top: 10px;
    color: #363636;
}

.freeborad-main-line-box {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}

.freeborad-main-line-circle {
    width: 10px;
    height: 10px;
    background-color: #ffe600;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 65px;
    animation: freeborad-main-circle 3s;
    animation-iteration-count: infinite;
    z-index: 100;
}

@keyframes freeborad-main-circle  {
    25% {
        top: 80px;
        left: 127px;
    }
    50% {
        top: 150px;
        left: 60px;
    }
    75% {
        top: 217px;
        left: 128px;
    }
    100% {
        top: 285px;
        left: 65px;
    }
}

.freeborad-main-line1 {
    width: 1px;
    height: 100px;
    background-color: #a5a5a5;
    transform: rotate(-45deg);
    margin: 0 auto;
}

.freeborad-main-line2 {
    width: 1px;
    height: 100px;
    background-color: #777777;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: -30px;
}

.freeborad-main-line3 {
    width: 1px;
    height: 100px;
    background-color: #777777;
    transform: rotate(-45deg);
    margin: 0 auto;
    margin-top: -30px;
}

.freeborad-main-line4 {
    width: 1px;
    height: 100px;
    background-color: #777777;
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: -30px;
}

.freeboard-focus {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    position: relative;
}

.freeboard-focus-inner-box {
    margin: 0 auto;
}

.freeboard-detail-btn {
    text-align: center;
    margin-bottom: 50px;
}

.freeboard-detail-btn button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    margin-right: 100px;
    font-family: 'Pretendard-Bold';
    cursor: pointer;
}

.freeboard-detail-btn button:last-child {
    margin-right: 0;
}

.menu-three:hover {
    color: #363636;
}

.menu-three:hover::after {
    content: '';
    display: block;
    width: 10px ;
    height: 10px;
    background-color: #ffe600;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}

.menu-three1:hover::after {
    margin-left: 40px;
}

.menu-three2:hover::after {
    margin-left: 70px;
}

.menu-three3:hover::after {
    margin-left: 50px;
}

.gesifan-box.on{
    display: none;
}

.Gesifanpage {
    display: none;
}

.Gesifanpage.on{
    display: block;
    z-index: 100;
}

.Gesifangongji {
    display: none;
}

.Gesifangongji.on{
    display: block;
    z-index: 100;
}

.Geshfan-modal {
    display: none;
}

.Geshfan-modal.on {
    display: block;
}

.gesifan-box {
    width: 80%;
    margin: 0 auto;
}

.gesifan-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.gesifan-box-top p {
    font-weight: 700;
    color: rgb(238, 31, 31);
}

.gesifan-box-wrapper {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.gesifan-box-list-1,
.gesifan-box-list-2,
.gesifan-box-list-3 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px 50px;
    border-bottom: 1px solid #666666;
}

.gesifan-box-list-1 span {
    margin-right: 18px;
}

.gesifan-box-list-2 span,
.gesifan-box-list-3 span {
    margin-right: 38px;
}

.mySelect-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 206, 206);
}

.mySelect-box select {
    width: 200px;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.gesifan-box-list-2 input {
    padding: 10px 15px;
    border: 1px solid rgb(206, 206, 206);
}

#content {
    width: 70%;
    height: 200px;
    border: 1px solid rgb(206, 206, 206);
}

.gesifan-box-list-4 {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.gesifan-box-list-4-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gesifan-box-list-4-top span {
    font-weight: 700;
    color: rgb(238, 31, 31);
}

.gesifan-box-list-4-main {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #000;
    padding: 30px;
}

.gesifan-box-list-4-agree {
    float: right;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agree-check {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gesifan-box-list-4-uplode-btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.gesifan-box-list-4-uplode-btn button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding: 10px 30px;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.gesifan-box-list-4-uplode-btn button:hover {
    border: none;
    background-color: #a3a3a3;
    color: #fff;
}

.Gesifanpage {
    width: 70%;
    /* border: solid red; */
    margin: 0 auto;
    margin-top: 50px;
}

.Gesifan-sort1, 
.Gesifan-sort2,
.Gesifan-sort3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    padding: 30px 30px;
}

.Gesifan-sort2 {
    background: #f5f5f5;
}

.Gesifan-sort1 span, 
.Gesifan-sort2 .gesifan-span{
    font-family: 'Pretendard-Bold';
    font-size: 17px;
}

.Gesifan-sort1 span:nth-child(3) {
    padding: 0 80px;
}

.Gesifan-sort2 span:nth-child(3) {
    margin-left: 210px;
}

.Gesifan-sort2 span:nth-child(4) {
    margin-left: 50px;
}

.Gesifan-number-slide {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.Gesifan-number-slide-btn button {
    border: none;
    color: #000;
    font-size: 20px;
    background-color: transparent;
}

.faAngleLeft,
.faChevronRight {
    font-size: 15px;
}

.Geshfan-modal {
    width: 70%;
    display: none;
    justify-content: center;
    margin:  0 auto;
}

.Geshfan-modal-moklok {
    float: right;
}

.Geshfan-modal-moklok button {
    width: 150px;
    background-color: transparent;
    border: none;
    border: 1px solid #b3b3b3;
    padding: 10px 15px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 15px;
}

.Gesifan-number-slide-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.Geshfan-modal-moklok button:hover {
    background-color: #f0f0f0;
    color: #363636;
}

.Geshfan-modal-number-wrapper {
    width: 500px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.GesifanJunche-footer-wrapper {
    width: 70%;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    color: #818181;
}

.GesifanJunche-footer {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .Daejeon-video-box video {
        max-width: 700px;
        height: 100vh;
        object-fit: cover;
        position: relative;
    }

    .goto-mainpage {
        width: 150px;
    }
    
    .goto-mainpage p {
        padding: 5px 8px;
    }

    .GesifanJunche-text-inner {
        width: 100%;
        font-size: 25px;
    }

    .about-freeboard {
        width: 550px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 30px auto;
       
    }
    
    .about-freeboard-left {
        width: 500px;
        margin-right: 40px;
        margin-bottom: 10px;
    }
    
    .about-freeboard-left h3 {
        display: flex;
        align-items: center;
        height: 100px;
        margin-bottom: 0px;
        font-size: 30px;
    }

    .about-freeboard-right {
        margin: 0 20px;
        padding: 0 30px;
        width: 600px;
    }

    .about-freeboard-right p {
        font-size: 14px;
    }

    .about-freeboard-button {
        width: 100%;
        margin: 30px 0;
        
    }

    .freeboard-main-wrapper {
        width: 100%;
    }

    .freeboard-main-top-sub {
        position: relative;
        
    }

    .freeborad-today {
        position: absolute;
        left: -34px;
    }

    .freeboard-main-all-text {
        width: 40%;
        position: absolute;
        top: 250px;
        left: 70%;
    }

    .swiper-slide {
        width: 50% !important;
    }

    .gesifan-box11 {
        width: 100vw;
        margin-top: 50px;
    }

    .gesifan-box12 {
        width: 75%;
        height: 60%;
        box-sizing: content-box;
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
        margin: 0 auto;
    }

    .gesifan-box12 img {
        padding: 8px 0;
        right: 30%;
    }

    .gesifan-box12-inner {
    padding: 10px 10px;
    width: 100%;
    }

    .gesifan-box12-inner p:last-child{
        white-space: normal;
        font-size: 14px;
        width: 100%;
        padding: 0;
    }

    .freeboard-focus-inner-box {
        width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .freeboard-detail-btn {
        width: 100%;
        margin-right: 4%;
        justify-content: center;
    }

    .freeboard-detail-btn button {
        font-size: 20px;
        margin-right: 40px;
    }

    .gesifan-box-top h3 {
        margin: 0 auto;
    }

    .gesifan-box-top p {
        display: none;
    }

    .freeboard-focus {
        width: 100%;
    }

    .gesifan-box {
        width: 75%;
        margin-left: 8%;
    }

    .gesifan-box-wrapper {
        margin: 0 auto;
        width: 100%;
    }

    .gesifan-box-list-1,
    .gesifan-box-list-2,
    .gesifan-box-list-3 {
        border: 2px solid blue;
        padding: 15px 20px;
        width: 100%;
    }

    .gesifan-box-list-1 span {
        margin-right: 0;
        width: 45%;
    }

    .gesifan-box-list-2 span,
    .gesifan-box-list-3 span {
        display: flex;
        align-items: center;
        width: 50%;
        margin-right: 0px;
    }

    .freeborad-main-line-circle {
        top: 15px;
        left: 65px;
    }
    
    @keyframes freeborad-main-circle  {
        25% {
            top: 70px;
            left: 127px;
        }
        50% {
            top: 130px;
            left: 60px;
        }
        75% {
            top: 190px;
            left: 128px;
        }
        100% {
            top: 245px;
            left: 65px;
        }
    }

    .freeborad-main-line1 {
        height: 90px;
        transform: rotate(-48deg);
    }
    
    .freeborad-main-line2 {
        height: 90px;
        transform: rotate(48deg);
    }
    
    .freeborad-main-line3 {
        height: 90px;
        transform: rotate(-48deg);
    }
    
    .freeborad-main-line4 {
        height: 90px;
        transform: rotate(48deg);
    }

    .gesifan-box-list-3 label{
        width: 105%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5px;
    }

    .gesifan-box-list-4 {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
    }
    
    .gesifan-box-list-4-top {
        height: 50px;
        flex-direction: column;
    }

    .gesifan-box-list-4-top h3 {
        position: absolute;
        left: 10px;
        font-size: 20px;
    }

    .gesifan-box-list-4-top span {
        position: absolute;
        left: 10px;
        top: 30px;
        font-size: 14px;
    }

    .gesifan-box-list-4-agree {
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .gesifan-box-list-4-main {
        margin-top: 10px;
        overflow: auto;
        overflow-y: scroll;
        height: 150px;
        padding: 15px;
    }

    .gesifan-box-list-4-main-text span:first-child {
        font-weight: bold;
    }

    .gesifan-box-list-4-uplode-btn {
        width: 100%;
    }

    .Gesifan-sort1, 
    .Gesifan-sort2,
    .Gesifan-sort3 {
        padding: 10px 5px;
    }

    .Gesifan-sort1 span:nth-child(3) {
        padding: 0 20px;
    }
    
    .Gesifan-sort2 span:nth-child(3) {
        margin-left: 30px;
    }
    
    .Gesifan-sort2 span:nth-child(4) {
        margin-left: 30px;
    }

    .gesifan-box-list-4-uplode-btn button:first-child {
        width: 200px;
        border: none;
        background-color: #a3a3a3;
        color: #fff;
    }

    .gesifan-box-list-4-uplode-btn button:last-child {
        width: 200px;
        border: none;
        background-color: #3395e5;
        color: #fff;
    }

    .GesifanJunche-footer-wrapper {
        width: 100%;
        font-size: 10px;
    }

    .GesifanJunche-footer {
        width: 60%;
    }
}

@media screen and (max-width:900px) and (min-width:701px) {
    .about-freeboard {
        flex-direction: column;
        text-align: center;
    }
    
    .about-freeboard-left {
        text-align: center;
        margin-right: 0px;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .about-freeboard-left h3 {
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 25px;
    }
    
    .about-freeboard-right p {
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .about-freeboard-button {
        width: 100%;
        height: 50px;
    }

    .freeboard-main-top {
        margin: 30px 0;
    }

    .freeboard-main-top-sub {
        position: relative;
    }
    
    .freeboard-main-all-text {
        width: 200px;
        position: absolute;
        top: 250px;
        left: 70%;
    }

    .freeborad-today {
        position: absolute;
        left: -55px;
    }

    .swiper-slide {
        width: 50% !important;
    }

    .gesifan-box11 {
        width: 100%;
        overflow: hidden;
    }

    .gesifan-box12 {
        width: 90%;
    }

    .gesifan-box12 img {
        right: 45px;
    }

    .freeboard-detail-btn {
        width: 100%;
    }

    .freeboard-detail-btn button {
        font-size: 18px;
        margin-right: 50px;
    }

    .gesifan-box-top p {
        display: none;
    }

    .gesifan-box-list-1 span {
        margin-right: 8px;
    }

    .gesifan-box-list-2 span,
    .gesifan-box-list-3 span {
        margin-right: 29px;
    }

    .Gesifan-sort1 span:nth-child(3) {
        padding: 0 80px;
    }
    
    .Gesifan-sort2 span:nth-child(3) {
        width: 170px;
        margin-left: 150px;
    }
    
    .Gesifan-sort2 span:nth-child(4) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 230px;
    }

    .gesifan-box-list-4 {
        width: 100%;
    }

    .gesifan-box-list-4-top {
        font-size: 14px;
    }
    
    .gesifan-box-list-4-main {
        padding: 15px;
    }

    .gesifan-box-list-4-uplode-btn {
        width: 100%;
        margin-top: 70px;
    }
    
    .gesifan-box-list-4-uplode-btn button:first-child {
       width: 210px;
       background-color: #a3a3a3;
       color: #fff;
    }

    .gesifan-box-list-4-uplode-btn button:last-child {
        width: 210px;
        background-color: #3395e5;
        color: #fff;
    }

    .GesifanJunche-footer-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .GesifanJunche-footer {
        font-size: 12px;
        width: 70%;
    }

    .GesifanJunche-footer-wrapper p {
        font-size: 12px;
    }
}